body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    display: flex;
    height: 100vh;
    font-size: 1.4rem;
}
.left-container{
    background-image: url("images/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: aliceblue;
    cursor: pointer;
}
.right-container{
    background-image: url("images/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: aliceblue;
    cursor: pointer;
}
button{
    background-color: transparent;
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 4px 10px;
    color: aliceblue;
    border: 1px solid aliceblue;
    cursor: pointer;
}
button:hover{
    border: 2px solid aliceblue;
}
@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
}